<footer class="bg-[#062037] -mt-1">
    <div class="container px-4 py-20 max-[500px]:py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
            <div class="sm:col-span-2">
                <h1 class="max-w-lg text-xl font-semibold tracking-tight text-gray-800 xl:text-2xl dark:text-white">Quoridor</h1>

                <p class="text-neutral500 text-sm w-3/4 mt-2">Le Quoridor est un jeu de stratégie passionnant où vous devez être le premier à atteindre la ligne opposée. <br><br>Téléchargez-le ci-dessous et jouez seul ou entre amis !</p>
            
                <button routerLink="/download" class="w-48 px-5 py-2 mt-6 text-sm text-white transition-colors duration-300 bg-[#007EEE] rounded-lg lg:w-auto hover:bg-blue-500"><i class="fa-solid fa-arrow-down-long fa-sm mr-2"></i>Télécharger</button>

            </div>

            <div>
                <p class="font-semibold text-white">Le jeu Quoridor</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a routerLink="/" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Accueil</a>
                    <a routerLink="/regles" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Règles</a>
                    <a routerLink="/classement" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Classement</a>
                    <a routerLink="/boutique" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Boutique</a>
                </div>
            </div>

            <div>
                <p class="font-semibold text-white">Informations diverses</p>

                <div class="flex flex-col items-start mt-5 space-y-2">
                    <a routerLink="/equipe" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Équipe</a>
                    <a routerLink="/contact" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Contact</a>
                    <a routerLink="/mentions-legales" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Mentions légales</a>
                    <a routerLink="/auth" (click)="scrollToTop()" class="text-neutral100/75 transition-colors duration-300 hover:underline hover:text-blue-500">Se connecter</a>

                </div>
            </div>
        </div>
        
        <hr class="my-6 border-gray-200 md:my-8 dark:border-gray-700">
        
        <div class="flex items-center justify-between">
            <a href="/" class="max-[500px]:mr-12">
                <img class="pointer-events-none" src="assets/main_logo.png" alt="Image du logo de Quoridor" width="104px" height="32px">
            </a>
            
            <div class="flex -mx-2 max-[500px]:scale-75">
                <p class="text-neutral400 text-sm text-center">Copyright © 2023 - Tous droits réservés - Quoridor INC.</p>
            </div>
        </div>
    </div>
</footer>